$vista: movile;
$color: red;

@if $vista == romi {
    color: blue;
} @else if $vista == movile {
    color: orange
}

.sass-2{
    color: $color;
}

@each $color in blue, yellow, black {
   
}

$redes: (
    twitter: #55acee,
    facebook: #385795,
    send-mail: #c25E30,
    
)

@each $clave, $valor in $redes {
    .btn-#{$clave}{
        background-color: $valor;
     }
}
 